--
-- PostgreSQL database dump
--

\restrict HipAyDCj3a4XbL9kDRr9gtO5okM3efQ5yJEQTaUY7dDg0Ig92BjLUxusw4nzIGE

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: mascota; Type: TABLE; Schema: public; Owner: happypaws_user
--

CREATE TABLE public.mascota (
    idmascota integer NOT NULL,
    idrefugio integer,
    nombremasc character varying(60),
    especie character varying(60),
    raza character varying(60),
    sexo character varying(60),
    edady integer
);


ALTER TABLE public.mascota OWNER TO happypaws_user;

--
-- Name: mascota_idmascota_seq; Type: SEQUENCE; Schema: public; Owner: happypaws_user
--

CREATE SEQUENCE public.mascota_idmascota_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.mascota_idmascota_seq OWNER TO happypaws_user;

--
-- Name: mascota_idmascota_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: happypaws_user
--

ALTER SEQUENCE public.mascota_idmascota_seq OWNED BY public.mascota.idmascota;


--
-- Name: refugio; Type: TABLE; Schema: public; Owner: happypaws_user
--

CREATE TABLE public.refugio (
    idrefugio integer NOT NULL,
    nombreref character varying(60),
    direccionref character varying(60),
    horarioatenc character varying(60),
    tiporef character varying(50)
);


ALTER TABLE public.refugio OWNER TO happypaws_user;

--
-- Name: refugio_idrefugio_seq; Type: SEQUENCE; Schema: public; Owner: happypaws_user
--

CREATE SEQUENCE public.refugio_idrefugio_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.refugio_idrefugio_seq OWNER TO happypaws_user;

--
-- Name: refugio_idrefugio_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: happypaws_user
--

ALTER SEQUENCE public.refugio_idrefugio_seq OWNED BY public.refugio.idrefugio;


--
-- Name: responsables_de_refugio; Type: TABLE; Schema: public; Owner: happypaws_user
--

CREATE TABLE public.responsables_de_refugio (
    idres integer NOT NULL,
    nombreres character varying(60),
    direccionres character varying(100),
    email character varying(60),
    telefono character varying(10),
    password character varying(20)
);


ALTER TABLE public.responsables_de_refugio OWNER TO happypaws_user;

--
-- Name: responsables_de_refugio_idres_seq; Type: SEQUENCE; Schema: public; Owner: happypaws_user
--

CREATE SEQUENCE public.responsables_de_refugio_idres_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.responsables_de_refugio_idres_seq OWNER TO happypaws_user;

--
-- Name: responsables_de_refugio_idres_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: happypaws_user
--

ALTER SEQUENCE public.responsables_de_refugio_idres_seq OWNED BY public.responsables_de_refugio.idres;


--
-- Name: supadmin; Type: TABLE; Schema: public; Owner: happypaws_user
--

CREATE TABLE public.supadmin (
    idadmin integer NOT NULL,
    nombreadm character varying(60),
    email character varying(60),
    password character varying(20),
    ciudad character varying(60)
);


ALTER TABLE public.supadmin OWNER TO happypaws_user;

--
-- Name: supadmin_idadmin_seq; Type: SEQUENCE; Schema: public; Owner: happypaws_user
--

CREATE SEQUENCE public.supadmin_idadmin_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.supadmin_idadmin_seq OWNER TO happypaws_user;

--
-- Name: supadmin_idadmin_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: happypaws_user
--

ALTER SEQUENCE public.supadmin_idadmin_seq OWNED BY public.supadmin.idadmin;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: happypaws_user
--

CREATE TABLE public.usuario (
    idusuario integer NOT NULL,
    nombrecomp character varying(60),
    email character varying(30),
    password character varying(12),
    telefono character varying(10),
    ciudad character varying(60)
);


ALTER TABLE public.usuario OWNER TO happypaws_user;

--
-- Name: usuario_idusuario_seq; Type: SEQUENCE; Schema: public; Owner: happypaws_user
--

CREATE SEQUENCE public.usuario_idusuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuario_idusuario_seq OWNER TO happypaws_user;

--
-- Name: usuario_idusuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: happypaws_user
--

ALTER SEQUENCE public.usuario_idusuario_seq OWNED BY public.usuario.idusuario;


--
-- Name: vacunas; Type: TABLE; Schema: public; Owner: happypaws_user
--

CREATE TABLE public.vacunas (
    idvacuna integer NOT NULL,
    idmascota integer,
    nombrevac character varying(60),
    fechaaplicacion character varying(60)
);


ALTER TABLE public.vacunas OWNER TO happypaws_user;

--
-- Name: vacunas_idvacuna_seq; Type: SEQUENCE; Schema: public; Owner: happypaws_user
--

CREATE SEQUENCE public.vacunas_idvacuna_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.vacunas_idvacuna_seq OWNER TO happypaws_user;

--
-- Name: vacunas_idvacuna_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: happypaws_user
--

ALTER SEQUENCE public.vacunas_idvacuna_seq OWNED BY public.vacunas.idvacuna;


--
-- Name: mascota idmascota; Type: DEFAULT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.mascota ALTER COLUMN idmascota SET DEFAULT nextval('public.mascota_idmascota_seq'::regclass);


--
-- Name: refugio idrefugio; Type: DEFAULT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.refugio ALTER COLUMN idrefugio SET DEFAULT nextval('public.refugio_idrefugio_seq'::regclass);


--
-- Name: responsables_de_refugio idres; Type: DEFAULT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.responsables_de_refugio ALTER COLUMN idres SET DEFAULT nextval('public.responsables_de_refugio_idres_seq'::regclass);


--
-- Name: supadmin idadmin; Type: DEFAULT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.supadmin ALTER COLUMN idadmin SET DEFAULT nextval('public.supadmin_idadmin_seq'::regclass);


--
-- Name: usuario idusuario; Type: DEFAULT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.usuario ALTER COLUMN idusuario SET DEFAULT nextval('public.usuario_idusuario_seq'::regclass);


--
-- Name: vacunas idvacuna; Type: DEFAULT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.vacunas ALTER COLUMN idvacuna SET DEFAULT nextval('public.vacunas_idvacuna_seq'::regclass);


--
-- Data for Name: mascota; Type: TABLE DATA; Schema: public; Owner: happypaws_user
--

COPY public.mascota (idmascota, idrefugio, nombremasc, especie, raza, sexo, edady) FROM stdin;
\.


--
-- Data for Name: refugio; Type: TABLE DATA; Schema: public; Owner: happypaws_user
--

COPY public.refugio (idrefugio, nombreref, direccionref, horarioatenc, tiporef) FROM stdin;
\.


--
-- Data for Name: responsables_de_refugio; Type: TABLE DATA; Schema: public; Owner: happypaws_user
--

COPY public.responsables_de_refugio (idres, nombreres, direccionres, email, telefono, password) FROM stdin;
1	gato	tampico	prueba1@gmail.com	123	prueba
\.


--
-- Data for Name: supadmin; Type: TABLE DATA; Schema: public; Owner: happypaws_user
--

COPY public.supadmin (idadmin, nombreadm, email, password, ciudad) FROM stdin;
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: happypaws_user
--

COPY public.usuario (idusuario, nombrecomp, email, password, telefono, ciudad) FROM stdin;
1	Amir Dortaj	amir.dortaj@iest.edu.mx	drake	8331234567	Tampico
2	Myrna Leal	myrna.leal@iest.edu.mx	drake	8331234567	Tampico
3	Gustavo	prueba1@gmail.com	123	123	Tampico
4	danicrack	micorreo@gmail.com	1234	1111222233	mi casa
\.


--
-- Data for Name: vacunas; Type: TABLE DATA; Schema: public; Owner: happypaws_user
--

COPY public.vacunas (idvacuna, idmascota, nombrevac, fechaaplicacion) FROM stdin;
\.


--
-- Name: mascota_idmascota_seq; Type: SEQUENCE SET; Schema: public; Owner: happypaws_user
--

SELECT pg_catalog.setval('public.mascota_idmascota_seq', 1, false);


--
-- Name: refugio_idrefugio_seq; Type: SEQUENCE SET; Schema: public; Owner: happypaws_user
--

SELECT pg_catalog.setval('public.refugio_idrefugio_seq', 1, false);


--
-- Name: responsables_de_refugio_idres_seq; Type: SEQUENCE SET; Schema: public; Owner: happypaws_user
--

SELECT pg_catalog.setval('public.responsables_de_refugio_idres_seq', 1, true);


--
-- Name: supadmin_idadmin_seq; Type: SEQUENCE SET; Schema: public; Owner: happypaws_user
--

SELECT pg_catalog.setval('public.supadmin_idadmin_seq', 1, false);


--
-- Name: usuario_idusuario_seq; Type: SEQUENCE SET; Schema: public; Owner: happypaws_user
--

SELECT pg_catalog.setval('public.usuario_idusuario_seq', 4, true);


--
-- Name: vacunas_idvacuna_seq; Type: SEQUENCE SET; Schema: public; Owner: happypaws_user
--

SELECT pg_catalog.setval('public.vacunas_idvacuna_seq', 1, false);


--
-- Name: mascota mascota_pkey; Type: CONSTRAINT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.mascota
    ADD CONSTRAINT mascota_pkey PRIMARY KEY (idmascota);


--
-- Name: refugio refugio_pkey; Type: CONSTRAINT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.refugio
    ADD CONSTRAINT refugio_pkey PRIMARY KEY (idrefugio);


--
-- Name: responsables_de_refugio responsables_de_refugio_pkey; Type: CONSTRAINT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.responsables_de_refugio
    ADD CONSTRAINT responsables_de_refugio_pkey PRIMARY KEY (idres);


--
-- Name: supadmin supadmin_pkey; Type: CONSTRAINT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.supadmin
    ADD CONSTRAINT supadmin_pkey PRIMARY KEY (idadmin);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (idusuario);


--
-- Name: vacunas vacunas_pkey; Type: CONSTRAINT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.vacunas
    ADD CONSTRAINT vacunas_pkey PRIMARY KEY (idvacuna);


--
-- Name: vacunas fk_mascota_vacuna; Type: FK CONSTRAINT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.vacunas
    ADD CONSTRAINT fk_mascota_vacuna FOREIGN KEY (idmascota) REFERENCES public.mascota(idmascota);


--
-- Name: mascota fk_refugio; Type: FK CONSTRAINT; Schema: public; Owner: happypaws_user
--

ALTER TABLE ONLY public.mascota
    ADD CONSTRAINT fk_refugio FOREIGN KEY (idrefugio) REFERENCES public.refugio(idrefugio);


--
-- PostgreSQL database dump complete
--

\unrestrict HipAyDCj3a4XbL9kDRr9gtO5okM3efQ5yJEQTaUY7dDg0Ig92BjLUxusw4nzIGE

